In [1]:
import matplotlib.pyplot as plt
import pandas as pd

from urllib.request import urlopen
from bs4 import BeautifulSoup
from bs4 import Comment

import webbrowser as wb

from selenium import webdriver

In [14]:
#driver = webdriver.Chrome()
#driver.get('https://www.pro-football-reference.com/players/J/JoneJu02.htm')
#soup = BeautifulSoup(driver.page_source,'lxml')
#driver.quit()
#table = soup.find_all('table')

#comments = soup.find_all(string=lambda text: isinstance(text, Comment))
#table1=soup.find(id="all_detailed_receiving_and_rushing")
#table2=soup.find(id="receiving_and_rushing")

In [2]:
#Importing the page into a beautifulsoup object called 'soup'
#url_julio_nfl = 'https://www.pro-football-reference.com/players/J/JoneJu02.htm'
url_julio_nfl = 'https://www.sports-reference.com/cfb/players/julio-jones-1.html'
html =urlopen(url_julio_nfl)
soup = BeautifulSoup(html,'html.parser')

In [58]:
#Document with lots of content.
#print(soup.prettify())

In [3]:
#If you open the page on your web browser, there are multiple tables. 
#Only a few are of interest, but findAll seems to return only 2.
table=soup.findAll('table')
len(table)

1

In [7]:
new_table = pd.DataFrame(columns=['year','school','conference','class','pos','games',
                                  'receptions','yards', 'average','td',
                                 'attemps rushing','yards rushing','avg rushing','td rushing',
                                 'scrimmages','yards total','avg total','td total'],
                         index=range(0,10)) # I know the size 
    
row_marker = 0
for row in table[0].find_all('tr')[2:]:
    column_marker = 0
    columns = row.find_all('td')
    for column in columns:
        new_table.iat[row_marker,column_marker] = column.get_text()
        column_marker += 1
    row_marker += 1
    
new_table

,year,school,conference,class,pos,games,receptions,yards,average,td,attemps rushing,yards rushing,avg rushing,td rushing,scrimmages,yards total,avg total,td total
0,Alabama,SEC,FR,WR,14,58,924,15.9,4,,,,,58,924,15.9,4,NaN
1,Alabama,SEC,SO,WR,13,43,596,13.9,4,2,4,2.0,0,45,600,13.3,4,NaN
2,Alabama,SEC,JR,WR,13,78,1133,14.5,7,8,135,16.9,2,86,1268,14.7,9,NaN
3,Alabama,,,,,179,2653,14.8,15,10,139,13.9,2,189,2792,14.8,17,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN