In [4]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [54]:
with open('logins.json') as f:
    json_list = json.load(f)
json_df = pd.DataFrame(json_list)
json_s = pd.to_datetime(json_df.login_time)

In [58]:
json_df = pd.DataFrame(json_s)
json_df['count'] = 1
json_df = json_df.set_index(json_df.login_time).drop('login_time', axis = 1)

In [66]:
json_df.head(10)

                     count
login_time
1970-01-01 20:13:18      1
1970-01-01 20:16:10      1
1970-01-01 20:16:37      1
1970-01-01 20:16:36      1
1970-01-01 20:26:21      1
1970-01-01 20:21:41      1
1970-01-01 20:12:16      1
1970-01-01 20:35:47      1
1970-01-01 20:35:38      1
1970-01-01 20:47:52      1

In [65]:
json_df.groupby(pd.Grouper(freq='15Min')).sum()

                     count
login_time
1970-01-01 20:00:00      2
1970-01-01 20:15:00      6
1970-01-01 20:30:00      9
1970-01-01 20:45:00      7
1970-01-01 21:00:00      1
...                    ...
1970-04-13 17:45:00      5
1970-04-13 18:00:00      5
1970-04-13 18:15:00      2
1970-04-13 18:30:00      7
1970-04-13 18:45:00      6

[9788 rows x 1 columns]