## imports for Python, Pandas, JSON

In [5]:
import pandas as pd

In [2]:
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [119]:
# load json as string
json_list = json.load((open('data/world_bank_projects.json')))
#json_list

In [120]:
# load as Pandas dataframe
json_df = pd.read_json('data/world_bank_projects.json')
#json_df

# Question 1

In [9]:
json_df['countryname']

0      Federal Democratic Republic of Ethiopia
1                          Republic of Tunisia
2                                       Tuvalu
3                            Republic of Yemen
4                           Kingdom of Lesotho
                        ...
495                                    Jamaica
496           Lao People's Democratic Republic
497                         Republic of Guinea
498                      Republic of Indonesia
499                          Republic of Kenya
Name: countryname, Length: 500, dtype: object

In [11]:
series = json_df['countryname'].value_counts().head(10)

country_top10 = pd.DataFrame(series)
country_top10.reset_index()

country_top10.index.name = 'Country Name'
country_top10.rename(columns = {'countryname':'Count'}, inplace = True)

country_top10

                                 Count
Country Name
People's Republic of China          19
Republic of Indonesia               19
Socialist Republic of Vietnam       17
Republic of India                   16
Republic of Yemen                   13
Nepal                               12
Kingdom of Morocco                  12
People's Republic of Bangladesh     12
Africa                              11
Republic of Mozambique              11

# Question 2

In [12]:
json_normalize(json_list, 'mjtheme_namecode')

     code                                      name
0       8                         Human development
1      11
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

[1499 rows x 2 columns]

In [13]:
df = json_normalize(json_list, 'mjtheme_namecode')

series = df['code'].value_counts().head(10)

namecode_top10 = pd.DataFrame(series)
namecode_top10.reset_index()

namecode_top10.index.name = 'Code Name'
namecode_top10.rename(columns = {'code':'Count'}, inplace = True)

namecode_top10

           Count
Code Name
11           250
10           216
8            210
2            199
6            168
4            146
7            130
5             77
9             50
1             38

# Question 3

In [55]:
dict_basis = {'1':'Economic management',
              '2':'Public sector governance',
              '3':'Social protection and risk management',
              '4':'Rule of Law',
              '5':'Trade and integration',
              '6':'Social protection and risk management',
              '7':'Social dev/gender/inclusion',
              '8':'Human development',
              '9':'Urban development',
              '10':'Rural development',
              '11':'Environment and natural resources management'}

In [126]:
json_df_copy = json_df

for x in json_df_copy.mjtheme_namecode:
    for y in x:
        y['name'] = dict_basis[y['code']]

In [127]:
print(type(json_df_copy))

print(json_df_copy.mjtheme_namecode)

<class 'pandas.core.frame.DataFrame'>
0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
                             ...
495    [{'code': '4', 'name': 'Rule of Law'}, {'code'...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object